extends ../layout
block content
  div(class="backHome-div")
    a(type="button" class="geo-button" id="backHome-button" title="backHome" href="/")
  div(style="padding-top:28px;" class="mainView" title='mainView' id=`${locationBarBackGround[arrayIndexNo]}`)
//- include ./mainViewHdr.pug
    h3(id="cityName")= `${availLocationsArray[arrayIndexNo].locationName}`
    p(style="display:block;width:auto;height:200px;")= placeholder for current conditions data
//- include ./tableHdr.pug
    div(class="scrollingEnabled")
//- include ./tableDay.pug
      p(style="display:block;width:auto;height:200px;")= placeholder for hourly data
//- include ./tableWeek.pug
      p(style="display:block;width:auto;height:600px;")= placeholder for daily data
//- end of detail.pug
