div(id="titleBar" class='middle-grid-item-0')
  a(id="title" href=`${links.projectSiteLink}`) WeatherX
  a(id="titleText" href=`${links.aboutProjectSiteLink}`) About WeatherX
  a(class="attribLink" href=`${attribLink.teamTreehouse}`) Thanks to: Team Treehouse.
  a(class="attribLink" href=`${attribLink.darksky}`) Powered By Dark Sky
  a(class="attribLink" href=`${attribLink.tomtom}`) and Tom Tom
