div(id="titleBar" class='middle-grid-item-0')
  a(id="title" href="https://pereznetworks.github.io/TD-Project12/")= "WeatherX"
  a(id="titleText" href="https://github.com/pereznetworks/TD-Project12/tree/master" target="_blank")= "About WeatherX"
  a(class="attribLink" href="https://teamtreehouse.com" target="_blank")= "Thanks to: Team Treehouse."
  a(class="attribLink" href="https://darksky.net/poweredby/" target="_blank")= "Powered By Dark Sky"
  a(class="attribLinkspacer")= "&"
  a(class="attribLink" href="https://developer.tomtom.com/tomtom-maps-apis-developers" target="_blank")= "Tom Tom"
