div(id="titleBar" class='middle-grid-item-0')
  a(id="title" href=`${initialView.projectSiteLink}`) WeatherX
  a(id="titleText" href=`${initialView.aboutProjectSiteLink}`) About WeatherX
  a(class="attribLink" href=`${initialView.teamTreehouse}`) Thanks to: Team Treehouse.
  a(class="attribLink" href=`${initialView.darksky}`) Powered By Dark Sky
  a(class="attribLink" href=`${initialView.tomtom}`) and Tom Tom
