if tempTypeFahrenheit
  div(id="mainViewHeader")
    h3(id="cityName")= `${currentLocationData.name}`
    p(id="currentConditions")= `${currentForecast.currently.summary}`
    h1(id="todayTemp")= `${currentLocationData.tempFahrenheit}`
      span(id="todayTempType")= `${fahrenheitFont}`
else
  div(id="mainViewHeader")
    h3(id="cityName")= `${currentLocationData.name}`
    p(id="currentConditions")= `${currentForecast.currently.summary}`
    h1(id="todayTemp")= `${currentLocationData.tempCelsius}`
      span(id="todayTempType")= `${celsiusFont}`
