if forecast
  - var indexNo = 0
  div(class="controlsDiv")
    span(id="tempSpacer")
    i(class="wi wi-celsius temp" id="tempCbutton" title="Celsius" onClick="handleTempClick(event)")
    span(id="tempSpacer")
    i(class="wi wi-fahrenheit tempActive" id="tempFbutton" title="Fahrenheit" onClick="handleTempClick(event)")
  each location in locationBarArray
    div(id=`locationBar-div${indexNo}` index=`${indexNo}` class=`middle-grid-item-${indexNo + 2}`)
      div(title="locationBar" class='locationBar-div' id=`${location.locationBarBackGround}`)
        div(id="cityTime-div")
          p(id="locationTime")=`${location.liveFormattedTime}`
          p(indexno=`${indexno}` id="locationName")=`${location.locationName}`
        a(title="currentConditions" id="locationCondition" href=`/weatherForecast/${indexNo}`)
          i(title=`${location.currentCondition}` style="font-size:1.2em;" id="conditionIcon" class=`${location.wiClass}`)
        div(id=`temp-div${indexNo}`)
            p(class="currentTemp" id=`tempF${indexNo}` title=`${locationBar.tempFahrenheit}`)=`${location.tempFahrenheit}`
              span(class="tempType" id="tempTypeF" title="Fahrenheit")=`${locationBar.fahrenheitFont}`
            p(class="hideTemp" id=`tempC${indexNo}` title=`${locationBar.tempCelsius}`)=`${location.tempCelsius}`
              span(class="tempType" id="tempTypeC" title="Celsius")=`${locationBar.celsiusFont}`
        a(indexno=`${indexNo}` title="remove" class="removeLocation" href=`/removeLocation/${indexNo}`)
    - indexNo += 1
