if locationBar.locationCityState
  div(id=`locationBar-${initialView.middleGridItemNo}` class=`middle-grid-item-${initialView.middleGridItemNo}`)
    div(title="locationBar" class='locationBar-div' id=`${locationBar.locationBarBackGround}`)
      div(id="cityTime-div")
        p(id="locationTime")=`${locationBar.liveFormattedTime}`
        p(indexno=`${indexno}` id="locationName")=`${locationBar.locationCityState}`
      a(title="currentConditions" id="locationCondition" href="/mainView")
        i(title=`${locationBar.currentConditions}` style="font-size:1.2em;" id="conditionIcon" class=`${locationBar.wiClass}`)
      include ./tempDisplay.pug
      div(indexno=`${indexno}` title="remove" class="removeLocation")
