div(id="temp-div")
  if locationBar.fahrenheitType
    p(class="tempType" title="Fahrenheit")=`${locationBar.fahrenheitFont}`
    p(id="currentTemp" title=`${locationBar.locationCurrentTemp}`)=`${locationBar.locationCurrentTemp}`
  else
    p(class="tempType" title="Celsius")=`${locationBar.celsiusFont}`
    p(id="currentTemp" title=`${locationBar.currentTemp}`)=`${locationBar.currentTemp}`
