if tempTypeFahrenheit
  table(id="tableHdr")
    tbody
      tr
        th(id="dayOfWeek")=`${tableHeader.dayOfWeek}`
        th(id="today")= "TODAY"
        th(id="blank")
        th(id="tempHigh")= `High: ${tableHeader.tempHigh}`
          span(id="todayTempType")= `${fahrenheitFont}`
        th(id="tempLow")= `Low: ${tableHeader.tempLow}`
          span(id="todayTempType")= `${fahrenheitFont}`
else
  table(id="tableHdr")
    tbody
      tr
        th(id="dayOfWeek")=`${tableHeader.dayOfWeek}`
        th(id="today")=TODAY
        th(id="blank")
        th(id="tempHigh")=`${tableHeader.tempHigh}`
          span(id="todayTempType")=`${celsiusFont}`
        th(id="tempLow")= `${tableHeader.tempLow}`
          span(id="todayTempType")=`${celsiusFont}`
